@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

@theme {
  --color-primary-50: #eef2ff;
  --color-primary-100: #e0e7ff;
  --color-primary-200: #c7d2fe;
  --color-primary-300: #a5b4fc;
  --color-primary-400: #818cf8;
  --color-primary-500: #2F52BD;
  --color-primary-600: #1e3a8a;
  --color-primary-700: #1e40af;
  --color-primary-800: #1e3a8a;
  --color-primary-900: #172554;
  --color-primary-950: #0f172a;
}